<?xml version="1.0" encoding="UTF-8"?>

<root>
  <param key="上下拿牌" value="1"/>
  <param key="双财神" value="1"/>
  <param key="上上下下" value="一上"/>
  <param key="开启震动" value="0"/>
  <param key="财神是花牌继续升" value="0"/>
  <param key="碰牌" value="0"/>
  <param key="玩家人数" value="4"/>
  <param key="北" value="17"/>
  <param key="十三烂" value="0"/>
  <param key="色子定财神" value="0"/>
  <param key="财神可单杠" value="0"/>
  <param key="东" value="17"/>
  <param key="换层后反向拿牌" value="0"/>
  <param key="字牌碰" value="0"/>
  <param key="明杠" value="1"/>
  <param key="两层三层" value="0"/>
  <param key="胡牌可碰" value="0"/>
  <param key="吃牌" value="0"/>
  <param key="暗杠" value="1"/>
  <param key="先杠花后定财神" value="0"/>
  <param key="自选财神" value=""/>
  <param key="字牌吃" value="0"/>
  <param key="单张可杠" value="1"/>
  <param key="音量" value="17"/>
  <param key="固定财神" value="0"/>
  <param key="预测牌" value="10"/>
  <param key="开口胡" value="0"/>
  <param key="逐层拿牌" value="0"/>
  <param key="花牌可碰" value="0"/>
  <param key="七小对" value="0"/>
  <param key="翻开财神是花牌继续翻" value="0"/>
  <param key="换手牌" value="0"/>
  <param key="缺一门" value="0"/>
  <param key="后财神" value="0"/>
  <param key="上下" value="上"/>
  <param key="财神按正常牌参与吃碰杠(起飞)" value="0"/>
  <param key="可升级财神到花牌" value="0"/>
  <param key="财神置换" value="0"/>
  <param key="补将" value="0"/>
  <param key="每手张数" value="4"/>
  <param key="血战到底" value="0"/>
  <param key="南" value="17"/>
  <param key="挑牌" value="隔挑"/>
  <param key="字牌可杠" value="1"/>
  <param key="抢杠胡" value="0"/>
  <param key="杠花" value="顺杠牌"/>
  <param key="倒数第几栋第1张" value="倒数第1栋第1张"/>
  <param key="顺摸财神" value="1"/>
  <param key="翻开的财神当花牌" value="1"/>
  <param key="自选花牌" value=""/>
  <param key="幺九杠(三张不补，四张补)" value="0"/>
  <param key="幺九牌" value="0"/>
  <param key="二五八将" value="0"/>
  <param key="开启语音" value="0"/>
  <param key="东南西北杠" value="0"/>
  <param key="玩家牌数" value="13"/>
  <param key="财神" value="1"/>
  <param key="血流成河" value="0"/>
  <param key="选牌" value="136"/>
  <param key="字牌分开" value="0"/>
  <param key="只自摸" value="0"/>
  <param key="升级财神" value="0"/>
  <param key="财神可抓" value="0"/>
  <param key="吃三方牌" value="0"/>
  <param key="杠手中牌(以花牌形式杠)" value="0"/>
  <param key="杠牌顺序" value="顺杠牌"/>
  <param key="交换牌" value="0"/>
  <param key="西" value="17"/>
</root>
